<body>
  <header>
    <h1 class="header-logo"><a href="#">Chronicle</a></h1>
  </header>
  <main>
    <div class="main-visual">
      <div id="calendar">
        <h2 class="now-time" ><%= @year_time %>年  <%= @month_time %>月</h2>
        <div id=calendar-data></div>
      </div>
    </div>
  </main>
  <footer>
    <ul class="footer-list">
      <li><a href="#">テキスト</a></li>
      <li><a href="#">テキスト</a></li>
      <li><a href="#">テキスト</a></li>
    </ul>
    <div class="copy-light">
      <p>&copy;Chronicle</p>
    </div>
  </footer>
  <%= javascript_pack_tag 'react_calendar', defer: true %>
</body>
